Repository danielweck/preact-wmr-twind-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.3f5d5e2b.js
  chunks/debug.module.fa5c542f.js
  chunks/island.0fe806b7.js
  chunks/island.5e6b75f4.js
  chunks/island.6630be7f.js
  chunks/island.86600099.js
  chunks/lazy.5461a7ca.js
  chunks/lazy.5e946155.js
  index.3b235219.js
  index.58840bae.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.3f5d5e2b.js
  chunks/debug.module.f835bc42.js
  chunks/island.5c8657a4.js
  chunks/island.6630be7f.js
  chunks/island.86600099.js
  chunks/island.eabfd872.js
  chunks/lazy.5e946155.js
  chunks/lazy.7c3571bb.js
  index.3b235219.js
  index.7d4543a0.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  index.html
Due: pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  packages/wmr1/public/preact-vnode-options-hook.ts
  packages/wmr1/wmr-post-prerender-twind.mjs
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.4ff41650.js
  chunks/debug.module.f835bc42.js
  chunks/island.5c8657a4.js
  chunks/island.7e21e555.js
  chunks/island.af8d5fcc.js
  chunks/island.eabfd872.js
  chunks/lazy.7c3571bb.js
  chunks/lazy.fac1a9b7.js
  index.04ceb8fa.js
  index.7d4543a0.js
  index.html
  observant.esm.js
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

feat: added Preact/Signals bench, Kairo vs Solid vs this lib (P/Signals is 2x slower)
  packages/preact-things/perf.html
Due: pnpm lint-fix:staged-if-needed:prettier

feat(bench): added uSignal (slower than Kairo/Solid/Observant, but quicker than Preact)
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
  packages/preact-things/perf_check.cjs
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: latest Preact with Signals break TypeScript types compilation (TS 4.7, 4.8. 49)
  tsconfig.json
Due: pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages, Node and NPM version bumps too
  .github/workflows/main.yml
  .nvm
  .nvmrc
  .tool-versions
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  packages/wmr1/public/preact-vnode-options-hook--twind.ts
  packages/wmr1/public/prerender/prerender.ts
  packages/wmr1/public/twind.config.js
  packages/wmr1/public/twindConfig.js
  packages/wmr1/public/twindFactory.js
  packages/wmr1/wmr-plugin-twind.mjs
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  _404-not-found/index.html.css
  chunks/debug.module.24ca245d.js
  chunks/debug.module.4ff41650.js
  chunks/island.1d1a08d0.js
  chunks/island.37eb9830.js
  chunks/island.7e21e555.js
  chunks/island.af8d5fcc.js
  chunks/lazy.605e907a.js
  chunks/lazy.fac1a9b7.js
  index.04ceb8fa.js
  index.27688638.js
  index.html
  index.html.css
  routed-lazy/index.html
  routed-lazy/index.html.css
  routed-non-lazy/index.html
  routed-non-lazy/index.html.css
  routed-route/index.html
  routed-route/index.html.css
  suspended/lazy/index.html
  suspended/lazy/index.html.css
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: preactive fast creation, super-fast updation but inconsistent Solid graph
  packages/preact-things/perf-online.html
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
  packages/preact-things/perf_check.cjs
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  index.html
  perf-online.html
Due: pnpm lint-fix:staged-if-needed:prettier

chore: adjusted code to new linting rules
  .lintstagedrc.json
  packages/preact-things/src/custom-element-hydrate.ts
  packages/preact-things/src/no-hydrate.ts
  packages/preact-things/src/observant/core/index-solid.test.ts
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/ex/index.ts
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/slots.tsx
  packages/wmr1/public/index.tsx
  packages/wmr1/public/preact-vnode-options-hook--twind.ts
  packages/wmr1/public/preact-vnode-options-hook.ts
  packages/wmr1/public/suspend-cache/use-suspend-cache-with-hydration.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  _404-not-found/index.html.css
  chunks/debug.module.24ca245d.js
  chunks/debug.module.2791ea8c.js
  chunks/island.1d1a08d0.js
  chunks/island.37eb9830.js
  chunks/island.4418af68.js
  chunks/island.85473ec7.js
  chunks/lazy.605e907a.js
  chunks/lazy.aa2317d3.js
  index.27688638.js
  index.fd23b2b8.js
  index.html
  index.html.css
  routed-lazy/index.html
  routed-lazy/index.html.css
  routed-non-lazy/index.html
  routed-non-lazy/index.html.css
  routed-route/index.html
  routed-route/index.html.css
  suspended/lazy/index.html
  suspended/lazy/index.html.css
  suspended/static-no-hydrate/index.html
  suspended/static-no-hydrate/index.html.css
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

feat: added Twind variant, HeadlessUI states (just for testing)
  packages/wmr1/public/index.tsx
  packages/wmr1/public/twind.config.js
  packages/wmr1/public/twindConfig.js
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.2791ea8c.js
  chunks/debug.module.96a05213.js
  chunks/island.4418af68.js
  chunks/island.85473ec7.js
  chunks/island.af48678f.js
  chunks/island.bd0cc4ca.js
  chunks/lazy.aa2317d3.js
  chunks/lazy.d587b8f6.js
  index.1231afb0.js
  index.fd23b2b8.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

Path conditions:
  pnpm lint-fix:staged-if-needed:eslint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  pnpm lint-fix:staged-if-needed:prettier: any of: *.{html,htm,css,json,md,yml,yaml,svg,xml,ts,tsx,js,jsx,mjs,cjs}
  pnpm lint-fix:staged-if-needed:stylelint: any of: packages/wmr1/**/*.{html,htm,css,ts,tsx,js,jsx,mjs,cjs}
