Repository danielweck/preact-wmr-twind-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(dev): reorganised files
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/index.ts
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.764f8364.js
  chunks/debug.module.fce891ee.js
  chunks/island.7ab4add3.js
  chunks/island.81fc046c.js
  chunks/island.9beb00b2.js
  chunks/island.e8add852.js
  chunks/lazy.8b44f518.js
  chunks/lazy.e061a522.js
  index.520d46bc.js
  index.b5316e7d.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(NPM): updated packages
  package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: none

chore(dist): automated GitHub Actions CI dist update
  index.html
Due: pnpm lint-fix:stylelint

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/shared/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: none

fix: improved microtask tick API
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index-sync.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index-sync.test.ts
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix: fixed observant reactive tick batcher
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.a7455244.js
  chunks/debug.module.fce891ee.js
  chunks/island.12489e85.js
  chunks/island.64e665e7.js
  chunks/island.81fc046c.js
  chunks/island.9beb00b2.js
  chunks/lazy.2c704d65.js
  chunks/lazy.e061a522.js
  index.3a5350fd.js
  index.b5316e7d.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(perf): improved benchmark results for Observant reactive primitives (class properties and Babel were killing perf, just like WMR dev server TypeScript output)
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index-sync.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.43bdff62.js
  chunks/debug.module.a7455244.js
  chunks/island.12489e85.js
  chunks/island.38c77804.js
  chunks/island.3eb471fe.js
  chunks/island.64e665e7.js
  chunks/lazy.2c704d65.js
  chunks/lazy.64ef0267.js
  index.3a5350fd.js
  index.86c22d15.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(tests): increased timeout
  .lintstagedrc.json
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(lintstaged): restored vitest which was hanging before
  .lintstagedrc.json
Due: none

feat(perf): replaced class with prototype
  .lintstagedrc.json
  package.json
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

feat(perf): added loop test
  .lintstagedrc.json
  package.json
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.43bdff62.js
  chunks/debug.module.e3665fab.js
  chunks/island.38c77804.js
  chunks/island.3eb471fe.js
  chunks/island.67c0b785.js
  chunks/island.fa2f2ee5.js
  chunks/lazy.64ef0267.js
  chunks/lazy.b1fbce5e.js
  index.86c22d15.js
  index.b567cbdd.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore: updated perf numbers (obs)
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(perf): reactive now faster than CellX in Firefox, Safari and Chrome
  packages/preact-things/src/observant/preact/index-sync.test.tsx
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(lint): guarded against CellX UMD named import
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.ce3ed94e.js
  chunks/debug.module.e3665fab.js
  chunks/island.67c0b785.js
  chunks/island.9815fa31.js
  chunks/island.f778e308.js
  chunks/island.fa2f2ee5.js
  chunks/lazy.a8d03e73.js
  chunks/lazy.b1fbce5e.js
  index.16233453.js
  index.b567cbdd.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.806ec3f5.js
  chunks/debug.module.ce3ed94e.js
  chunks/island.95d1d4c6.js
  chunks/island.9815fa31.js
  chunks/island.ce39bed8.js
  chunks/island.f778e308.js
  chunks/lazy.a8d03e73.js
  chunks/lazy.ef3e968d.js
  index.16233453.js
  index.e736e653.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix: improved reactive perf and observant code cleanup
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index-sync.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index-sync.test.ts
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.700b6bf2.js
  chunks/debug.module.806ec3f5.js
  chunks/island.09e0293c.js
  chunks/island.19ad74b8.js
  chunks/island.95d1d4c6.js
  chunks/island.ce39bed8.js
  chunks/lazy.bcbbf251.js
  chunks/lazy.ef3e968d.js
  index.02cdc074.js
  index.e736e653.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix: implemented further micro optimisations for better performance (reactive obs)
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.63d508e4.js
  chunks/debug.module.700b6bf2.js
  chunks/island.09e0293c.js
  chunks/island.19ad74b8.js
  chunks/island.b3b75e39.js
  chunks/island.e8402737.js
  chunks/lazy.2a8cc06b.js
  chunks/lazy.bcbbf251.js
  index.02cdc074.js
  index.d37d5f28.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix: clarified tick observant reactive batcher
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index-sync.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.48cb418e.js
  chunks/debug.module.63d508e4.js
  chunks/island.01a0ef0e.js
  chunks/island.3578ec64.js
  chunks/island.b3b75e39.js
  chunks/island.e8402737.js
  chunks/lazy.2a8cc06b.js
  chunks/lazy.da9e9b26.js
  index.28eeef67.js
  index.d37d5f28.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(NPM): updated packages
  .tool-versions
  package.json
  pnpm-lock.yaml
Due: none

fix: cleaned up code and introduced terser rollup bundle for obs reactive
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index-sync.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index-sync.test.ts
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore: improved Rollups [skip ci]
  packages/preact-things/package.json
Due: none

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.15b05d72.js
  chunks/debug.module.48cb418e.js
  chunks/island.01a0ef0e.js
  chunks/island.2c9cc1b6.js
  chunks/island.3578ec64.js
  chunks/island.49a586e9.js
  chunks/lazy.7cc03313.js
  chunks/lazy.da9e9b26.js
  index.28eeef67.js
  index.a442fbb8.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix: improved things
  .github/workflows/main.yml
  .husky/commit-msg
  .husky/pre-commit
  .tool-versions
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.15b05d72.js
  chunks/debug.module.9feffe68.js
  chunks/island.2c9cc1b6.js
  chunks/island.34d98461.js
  chunks/island.49a586e9.js
  chunks/island.9d5f97fc.js
  chunks/lazy.672f59cd.js
  chunks/lazy.7cc03313.js
  index.451dfc03.js
  index.a442fbb8.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

fix(perf): avoided costly array.length=0, resets to undefined instead
  packages/preact-things/src/observant/vanilla/index.ts
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.9feffe68.js
  chunks/debug.module.d0cbb6ab.js
  chunks/island.34d98461.js
  chunks/island.9d5f97fc.js
  chunks/island.bcb7b080.js
  chunks/island.ef1c882a.js
  chunks/lazy.4ce216de.js
  chunks/lazy.672f59cd.js
  index.451dfc03.js
  index.6d90bd70.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:eslint, vitest related --run --silent --config vitest.config.js, pnpm lint-fix:stylelint

chore(NPM): updated packages
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm lint-fix:eslint: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  vitest related --run --silent --config vitest.config.js: any of: *.{ts,tsx,js,jsx,mjs,cjs}
  pnpm lint-fix:stylelint: any of: *.{html,htm,css,ts,tsx,js,jsx,mjs,cjs}
