Repository danielweck/preact-wmr-twind-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,mjs,cjs}": [
		"pnpm lint-fix:staged-if-needed:eslint"
	],
	"!(**/observant/**/*).{ts,tsx,js,jsx,mjs,cjs}": [
		"pnpm test:related"
	],
	"*.{html,htm,css,json,md,yml,yaml,svg,xml,ts,tsx,js,jsx,mjs,cjs}": ["pnpm lint-fix:staged-if-needed:prettier"],
	"packages/wmr1/**/*.{html,htm,css,ts,tsx,js,jsx,mjs,cjs}": ["pnpm lint-fix:staged-if-needed:stylelint"]
}

chore(dist): automated GitHub Actions CI dist update
  index.html
Due: pnpm lint-fix:staged-if-needed:prettier

fix: tweaked API
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.7f1290d5.js
  chunks/debug.module.d0cbb6ab.js
  chunks/island.08e26cf7.js
  chunks/island.bcb7b080.js
  chunks/island.ef1c882a.js
  chunks/island.facb343b.js
  chunks/lazy.1b4f2125.js
  chunks/lazy.4ce216de.js
  index.4bc5f6ba.js
  index.6d90bd70.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: improved performance greatly (Chrome, Safari and Firefox)
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.7f1290d5.js
  chunks/debug.module.90202918.js
  chunks/island.08e26cf7.js
  chunks/island.424d84b2.js
  chunks/island.e2c71934.js
  chunks/island.facb343b.js
  chunks/lazy.1b4f2125.js
  chunks/lazy.34322492.js
  index.4bc5f6ba.js
  index.d034e134.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: updated packages and added size-limit
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
  size-limit.js
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  .lintstagedrc.json
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  pnpm-lock.yaml
  turbo.json
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.4a6b5d8b.js
  chunks/debug.module.90202918.js
  chunks/island.15503180.js
  chunks/island.424d84b2.js
  chunks/island.ca4b9872.js
  chunks/island.e2c71934.js
  chunks/lazy.34322492.js
  chunks/lazy.7ed4f8df.js
  index.58873b08.js
  index.d034e134.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix(perf): increased reactive observer propagation
  packages/preact-things/package.json
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/observant/vanilla/index-perf.test.ts
  packages/preact-things/src/observant/vanilla/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.1dd273e1.js
  chunks/debug.module.4a6b5d8b.js
  chunks/island.15503180.js
  chunks/island.42eaa0d2.js
  chunks/island.43fecf52.js
  chunks/island.ca4b9872.js
  chunks/lazy.7ed4f8df.js
  chunks/lazy.a56206ac.js
  index.58873b08.js
  index.f98d48fd.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/preactive/preact/index.test.tsx
  packages/shared/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.1dd273e1.js
  chunks/debug.module.290ea634.js
  chunks/island.42eaa0d2.js
  chunks/island.43fecf52.js
  chunks/island.49fc20af.js
  chunks/island.e698c2d2.js
  chunks/lazy.37f90158.js
  chunks/lazy.a56206ac.js
  index.02934fca.js
  index.f98d48fd.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: rename vanilla to core
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index-perf.test.ts
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/index.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

fix(API): renamed to shorter words
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index-perf.test.ts
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.290ea634.js
  chunks/debug.module.bf1630d2.js
  chunks/island.49fc20af.js
  chunks/island.78c1470a.js
  chunks/island.9d4dadb8.js
  chunks/island.e698c2d2.js
  chunks/lazy.37f90158.js
  chunks/lazy.f7e1a241.js
  index.02934fca.js
  index.839996f4.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages, slimmed down the JS bundle
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/preact-things/src/preactive/preact/index.test.tsx
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.6a864854.js
  chunks/debug.module.bf1630d2.js
  chunks/island.3539fcbe.js
  chunks/island.78c1470a.js
  chunks/island.9d4dadb8.js
  chunks/island.ee998c46.js
  chunks/lazy.b18b50e9.js
  chunks/lazy.f7e1a241.js
  index.49b504fa.js
  index.839996f4.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix(perf): improved reactive propagation (micro optimisations)
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.6a864854.js
  chunks/debug.module.a591bed7.js
  chunks/island.3539fcbe.js
  chunks/island.7753a6c9.js
  chunks/island.a64a171d.js
  chunks/island.ee998c46.js
  chunks/lazy.6d9538c3.js
  chunks/lazy.b18b50e9.js
  index.48c4fb34.js
  index.49b504fa.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/shared/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(NPM): package updates
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dev): bumped PNPM and NodeJS tool versions
  .github/workflows/main.yml
  .tool-versions
  package.json
  packages/preact-things/package.json
  packages/shared/package.json
  packages/wmr1/package.json
Due: pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

fix(perf): reactive no microtask batch (sync), faster than CellX and SolidJS (Kairo level)
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/preact/index.test.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.1079f070.js
  chunks/debug.module.a591bed7.js
  chunks/island.17316b0b.js
  chunks/island.7753a6c9.js
  chunks/island.a64a171d.js
  chunks/island.a732e670.js
  chunks/lazy.6b4509a4.js
  chunks/lazy.6d9538c3.js
  index.48c4fb34.js
  index.cf407337.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/preact-things/preact-testing-library.js
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: improved Chrome perf in SolidJS benchmark
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.1079f070.js
  chunks/debug.module.f2feaa36.js
  chunks/island.17316b0b.js
  chunks/island.74ec077c.js
  chunks/island.983bb9c0.js
  chunks/island.a732e670.js
  chunks/lazy.1f31b9a7.js
  chunks/lazy.6b4509a4.js
  index.a4908ca0.js
  index.cf407337.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

feat(perf): faster than Kairo and Solid in NodeJS, Chrome, Safari, Firefox (create obs + updates)
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index-perf.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.aae91a1e.js
  chunks/debug.module.f2feaa36.js
  chunks/island.42eccae9.js
  chunks/island.74ec077c.js
  chunks/island.7e211c8f.js
  chunks/island.983bb9c0.js
  chunks/lazy.1f31b9a7.js
  chunks/lazy.c907437e.js
  index.3d3d3d5f.js
  index.a4908ca0.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: corrected obs algo and improved Safari perf
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.ts
  size-limit.js
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.0f8b739e.js
  chunks/debug.module.aae91a1e.js
  chunks/island.1afcf121.js
  chunks/island.42eccae9.js
  chunks/island.5b79139e.js
  chunks/island.7e211c8f.js
  chunks/lazy.c907437e.js
  chunks/lazy.edb19159.js
  index.32571282.js
  index.3d3d3d5f.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

fix: obs fine grain reactive primitive + Solid unit tests
  package.json
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index-perf.test.ts
  packages/preact-things/src/observant/core/index-solid.test.ts
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/shared/package.json
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint
