Repository danielweck/preact-wmr-twind-zero: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

.lintstagedrc.json:

{
	"*.{ts,tsx,js,jsx,mjs,cjs}": [
		"pnpm lint-fix:staged-if-needed:eslint"
	],
	"!(**/observant/**/*).{ts,tsx,js,jsx,mjs,cjs}": [
		"pnpm test:related"
	],
	"*.{html,htm,css,json,md,yml,yaml,svg,xml,ts,tsx,js,jsx,mjs,cjs}": ["pnpm lint-fix:staged-if-needed:prettier"],
	"packages/wmr1/**/*.{html,htm,css,ts,tsx,js,jsx,mjs,cjs}": ["pnpm lint-fix:staged-if-needed:stylelint"]
}

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.0f8b739e.js
  chunks/debug.module.fae75e6f.js
  chunks/island.1afcf121.js
  chunks/island.5b79139e.js
  chunks/island.76e442e0.js
  chunks/island.9ae85c3b.js
  chunks/lazy.c71e4ace.js
  chunks/lazy.edb19159.js
  index.32571282.js
  index.4bd444b8.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

feat: perf NodeJS and browser (CellX and SolidJS bench)
  .eslintignore
  .prettierignore
  package.json
  packages/preact-things/package.json
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  index.html
Due: pnpm lint-fix:staged-if-needed:prettier

chore: code cleanup + updated bundle size
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/preact/index.test.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.6e89096c.js
  chunks/debug.module.fae75e6f.js
  chunks/island.76e442e0.js
  chunks/island.79fb8821.js
  chunks/island.9ae85c3b.js
  chunks/island.c6d64262.js
  chunks/lazy.c71e4ace.js
  chunks/lazy.dfb858a2.js
  index.4bd444b8.js
  index.e9cda8e7.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated Vitest
  package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dev): improved perf scripts
  packages/preact-things/package.json
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: code golf
  packages/preact-things/src/observant/core/index.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: code cleanup
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.6e89096c.js
  chunks/debug.module.c50bfcae.js
  chunks/island.32208c7e.js
  chunks/island.79fb8821.js
  chunks/island.afc23540.js
  chunks/island.c6d64262.js
  chunks/lazy.38e18ec0.js
  chunks/lazy.dfb858a2.js
  index.e9cda8e7.js
  index.ed9df417.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dev): added perf test
  .eslintignore
  .gitignore
  .prettierignore
  .stylelintignore
  packages/preact-things/package.json
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
  packages/preact-things/perf_check.cjs
  packages/preact-things/src/observant/core/index-solid.test.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dev): updated NPM packages and tools versions
  .github/workflows/main.yml
  .tool-versions
  package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.872a0026.js
  chunks/debug.module.c50bfcae.js
  chunks/island.32208c7e.js
  chunks/island.876cdbc2.js
  chunks/island.893d8dd5.js
  chunks/island.afc23540.js
  chunks/lazy.38e18ec0.js
  chunks/lazy.56c563c9.js
  index.91d199cb.js
  index.ed9df417.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: bundle size--
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index.ts
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.03cd6f9f.js
  chunks/debug.module.872a0026.js
  chunks/island.33da4f47.js
  chunks/island.876cdbc2.js
  chunks/island.893d8dd5.js
  chunks/island.d003c445.js
  chunks/lazy.56c563c9.js
  chunks/lazy.dd1cfa3a.js
  index.68a90a44.js
  index.91d199cb.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): package updates
  .tool-versions
  package.json
  packages/preact-things/package.json
  packages/preact-things/perf.html
  packages/preact-things/preact-testing-library.d.ts
  packages/preact-things/preact-testing-library.js
  packages/preact-things/src/observant/core/index.ts
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  _404-not-found/index.html.css
  index.html
  index.html.css
  routed-lazy/index.html
  routed-lazy/index.html.css
  routed-non-lazy/index.html
  routed-non-lazy/index.html.css
  routed-route/index.html
  routed-route/index.html.css
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
  suspended/static-no-hydrate/index.html.css
Due: pnpm lint-fix:staged-if-needed:prettier

feat: obs skip (untracked function) + updated NPM packages
  package.json
  packages/preact-things/src/observant/core/index-solid.test.ts
  packages/preact-things/src/observant/core/index.ts
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

feat(obs): added memo, swapped run with lazy opt-in
  packages/preact-things/package.json
  packages/preact-things/perf.html
  packages/preact-things/src/observant/core/index-perf.test.ts
  packages/preact-things/src/observant/core/index-solid.test.ts
  packages/preact-things/src/observant/core/index.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/devtools.ts
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.03cd6f9f.js
  chunks/debug.module.80b67728.js
  chunks/island.33da4f47.js
  chunks/island.48f7be66.js
  chunks/island.8a323d8f.js
  chunks/island.d003c445.js
  chunks/lazy.16e773e6.js
  chunks/lazy.dd1cfa3a.js
  index.477fc855.js
  index.68a90a44.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

fix: updated Preact Testing Library now ESM compatible
  packages/preact-things/package.json
  packages/preact-things/preact-testing-library.d.ts
  packages/preact-things/preact-testing-library.js
  packages/preact-things/src/observant/preact/index-perf.test.tsx
  packages/preact-things/src/observant/preact/index.test.tsx
  packages/preact-things/src/preactive/preact/index.test.tsx
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: removed unused code (old statin fork experiment)
  packages/preact-things/package.json
  packages/preact-things/src/preactive/devtools.ts
  packages/preact-things/src/preactive/index.ts
  packages/preact-things/src/preactive/preact/index.test.tsx
  packages/preact-things/src/preactive/preact/index.ts
  packages/preact-things/src/preactive/vanilla/action.ts
  packages/preact-things/src/preactive/vanilla/computed.ts
  packages/preact-things/src/preactive/vanilla/core.ts
  packages/preact-things/src/preactive/vanilla/index.test.ts
  packages/preact-things/src/preactive/vanilla/index.ts
  packages/preact-things/src/preactive/vanilla/reaction.ts
  packages/preact-things/src/preactive/vanilla/signal.ts
  packages/preact-things/src/preactive/vanilla/tracking.ts
  packages/preact-things/src/preactive/vanilla/types.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.767bb348.js
  chunks/debug.module.80b67728.js
  chunks/island.1399e324.js
  chunks/island.48f7be66.js
  chunks/island.8a323d8f.js
  chunks/island.9bd5a7fc.js
  chunks/lazy.16e773e6.js
  chunks/lazy.ef5e5175.js
  index.477fc855.js
  index.fc93e164.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: removed original test package (shared)
  packages/shared/package.json
  packages/shared/src/func.ts
  packages/shared/src/index.test.ts
  packages/shared/src/index.ts
  packages/shared/src/sub/foo.ts
  packages/shared/src/sub/other.ts
  packages/shared/tsconfig.build-cjs.json
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.json
  packages/wmr1/package.json
  packages/wmr1/public/index.tsx
  packages/wmr1/tsconfig.json
  packages/wmr1/wmr.config.mjs
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

fix: updated PNPM lockfile
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.50e77ae1.js
  chunks/debug.module.767bb348.js
  chunks/island.1399e324.js
  chunks/island.6465925f.js
  chunks/island.9bd5a7fc.js
  chunks/island.a3042d29.js
  chunks/lazy.63a99f63.js
  chunks/lazy.ef5e5175.js
  index.851cb2ed.js
  index.fc93e164.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore: code split, types divide
  packages/preact-things/package.json
  packages/preact-things/src/observant/core/index-solid.test.ts
  packages/preact-things/src/observant/core/index.ts
  packages/preact-things/src/observant/ex/index.ts
  packages/preact-things/src/observant/types/internal.ts
  packages/preact-things/src/observant/types/public.ts
  packages/wmr1/public/index.tsx
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier, pnpm lint-fix:staged-if-needed:stylelint

chore(dist): automated GitHub Actions CI dist update
  _404-not-found/index.html
  chunks/debug.module.50e77ae1.js
  chunks/debug.module.fa5c542f.js
  chunks/island.0fe806b7.js
  chunks/island.5e6b75f4.js
  chunks/island.6465925f.js
  chunks/island.a3042d29.js
  chunks/lazy.5461a7ca.js
  chunks/lazy.63a99f63.js
  index.58840bae.js
  index.851cb2ed.js
  index.html
  routed-lazy/index.html
  routed-non-lazy/index.html
  routed-route/index.html
  suspended/lazy/index.html
  suspended/static-no-hydrate/index.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dev): online perf HTML
  packages/preact-things/perf-online.html
  packages/preact-things/perf.cjs
  packages/preact-things/perf.html
  packages/preact-things/perf_check.cjs
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(dev): gh-pages perf.html deploy
  .github/workflows/main.yml
  packages/preact-things/perf-online.html
Due: pnpm lint-fix:staged-if-needed:prettier

chore(dist): automated GitHub Actions CI dist update
  index.html
  observant.esm.js
  perf-online.html
Due: pnpm lint-fix:staged-if-needed:eslint, pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  packages/preact-things/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier

chore(NPM): updated packages
  package.json
  packages/preact-things/package.json
  packages/wmr1/package.json
  pnpm-lock.yaml
Due: pnpm lint-fix:staged-if-needed:prettier
